body {
    font-family: Arial, sans-serif;
    background-color: F3F4F8;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #9b9b9b;
    overflow-x: hidden;

}

h1 {
    color: #333;
}

p {
    color: #666;
}

.navbar {
    display: inline;
}

.navbar-improved{
    background: #fff;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); */
    margin-top: 3%;
}

.choropleth {
    margin: 3%;
    margin-top: 0;
    height: fit-content;    
    border-radius: 15px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

}
.bars {
    margin: 3%;
    height: fit-content;    
    border-radius: 15px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.selectors{
    padding-top: 15px;
    margin-left: 5%;
    margin-right: 5%;
    height: fit-content;    
    border-radius: 5px;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); */
    
}

.GWH {
    float: left;
    margin-left: 8%;
    font-size: x-large;
    
}

.choroslider{
    float: bottom;
    margin-top: 3%;
    margin-left: 8%;
    margin-right: 25%;

}

.source-checklist{
    text-align: right;
    margin: 5%;
}